.brick-game-body {

    position: relative;

    background-color: var(--color);
    border-radius: calc(var(--width) * 0.05);
    border: calc(var(--width) * 0.01) solid black;

    width: var(--width);
    padding: calc(var(--width) * 0.15);

    box-shadow:
        calc(var(--width) * -0.03) calc(var(--width) * 0.03) var(--dispersion) black,
        calc(var(--width) * -0.02) calc(var(--width) * 0.02) var(--dispersion) var(--color-shadow-reflexion) inset;
}

.brick-game-body .frame {

    position: absolute;

    top: calc(var(--height) * 0.075);
    height: calc(var(--width) * 0.15 + var(--height));

    right: calc(var(--width) * 0.075);
    left: calc(var(--width) * 0.075);

    border-radius: calc(var(--width) * 0.05);
    border: calc(var(--width) * 0.0075) solid black;

}

.brick-game-body .title {

    position: absolute;
    top: 1px;
    left: calc(var(--width) * 0.42);

    font-family: retro-gaming;
    font-size: calc(var(--width) * 0.07);
    background-color: var(--color);

    padding-right: calc(var(--width) * 0.05);
    padding-left: calc(var(--width) * 0.05);

    user-select: none;
}

.brick-game-body>.controls-container {
    margin-top: calc(var(--width) * 0.15);
    height: calc(var(--width) * 0.75);
    position: relative;
}

.brick-game-body>.controls-container>.btn {

    transition-property: transform, box-shadow;
    transition-duration: .15s;

    width: calc(var(--width) * 0.16);
    height: calc(var(--width) * 0.16);

    background-color: var(--button-color);
    border-radius: 50%;

    border: calc(var(--width) * 0.005) solid black;
    outline: none;

    box-shadow:
        calc(var(--width) * -0.01) calc(var(--width) * 0.01) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.0125) calc(var(--width) * 0.0125) var(--dispersion) var(--button-color-reflexion) inset;

}

.brick-game-body>.controls-container>.btn:active {
    box-shadow: 0px 0px var(--color-shadow);
    transform: translateX(calc(var(--width) * -0.005)) translateY(calc(var(--width) * 0.005));
}

.brick-game-body>.controls-container>.direction-btn.up-btn {
    background-image: url('./assets/images/triangleUp.svg');
    background-size: contain;

    position: absolute;
    top: calc(var(--width) * 0.3);
    left: calc(var(--width) * 0.15);
}

.brick-game-body>.controls-container>.direction-btn.down-btn {
    background-image: url('./assets/images/triangleDown.svg');
    background-size: contain;

    position: absolute;
    top: calc(var(--width) * 0.6);
    left: calc(var(--width) * 0.15);
}

.brick-game-body>.controls-container>.direction-btn.right-btn {
    background-image: url('./assets/images/triangleRight.svg');
    background-size: contain;


    position: absolute;
    top: calc(var(--width) * 0.45);
    left: calc(var(--width) * 0.3);
}

.brick-game-body>.controls-container>.direction-btn.left-btn {
    background-image: url('./assets/images/triangleLeft.svg');
    background-size: contain;

    position: absolute;
    top: calc(var(--width) * 0.45);
    left: calc(var(--width) * 0);
}

.brick-game-body>.controls-container>.direction-btn.up-btn::after {
    content: 'W';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.06);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: -60%;
}

.brick-game-body>.controls-container>.direction-btn.down-btn::after {
    content: 'S';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.06);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: -60%;
}

.brick-game-body>.controls-container>.direction-btn.right-btn::after {
    content: 'D';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.06);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: -60%;
}

.brick-game-body>.controls-container>.direction-btn.left-btn::after {
    content: 'A';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.06);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: -60%;
}


.brick-game-body>.controls-container>.lg-btn {

    transition-property: transform, box-shadow;
    transition-duration: .15s;

    width: calc(var(--width) * 0.25);
    height: calc(var(--width) * 0.25);

    background-color: var(--button-color);
    border-radius: 50%;

    border: calc(var(--width) * 0.005) solid black;
    outline: none;

    box-shadow:
        calc(var(--width) * -0.015) calc(var(--width) * 0.015) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.0125) calc(var(--width) * 0.0125) var(--dispersion) var(--button-color-reflexion) inset;


    position: absolute;
    top: calc(var(--width) * 0.4);
    right: calc(var(--width) * 0.1);

    background-image: url('./assets/images/cross.svg');
    background-size: contain;
}

.brick-game-body>.controls-container>.lg-btn:active {

    box-shadow: 0px 0px var(--color-shadow);
    transform: translateX(calc(var(--width) * -0.0075)) translateY(calc(var(--width) * 0.0075));
}

.brick-game-body>.controls-container>.lg-btn::after {
    content: 'SPACE';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.06);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: -40%;
}


.brick-game-body>.controls-container>.sm-btn {

    transition-property: transform, box-shadow;
    transition-duration: .15s;

    width: calc(var(--width) * 0.075);
    height: calc(var(--width) * 0.075);

    background-color: var(--button-color);
    border-radius: 50%;

    border: calc(var(--width) * 0.005) solid black;
    outline: none;

    box-shadow:
        calc(var(--width) * -0.005) calc(var(--width) * 0.005) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.0075) calc(var(--width) * 0.0075) var(--dispersion) var(--button-color-reflexion) inset;
}

.brick-game-body>.controls-container>.sm-btn:active {
    box-shadow: 0px 0px var(--color-shadow);
    transform: translateX(calc(var(--width) * -0.0025)) translateY(calc(var(--width) * 0.0025));
}

.brick-game-body>.controls-container>.sm-btn.on-off-btn {
    position: absolute;
    top: calc(var(--width) * 0.05);
    right: calc(var(--width) * 0.65);
}

.brick-game-body>.controls-container>.sm-btn.on-off-btn::after {
    content: 'On/Off';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.05);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: -40%;
    top: -100%;
}

.brick-game-body>.controls-container>.sm-btn.start-btn {
    position: absolute;
    top: calc(var(--width) * 0.05);
    right: calc(var(--width) * 0.45);
}

.brick-game-body>.controls-container>.sm-btn.start-btn::after {
    content: 'Start';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.05);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: -40%;
    top: -100%;
}

.brick-game-body>.controls-container>.sm-btn.sound-btn {
    position: absolute;
    top: calc(var(--width) * 0.05);
    right: calc(var(--width) * 0.25);
}

.brick-game-body>.controls-container>.sm-btn.sound-btn::after {
    content: 'Sound';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.05);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: -40%;
    top: -100%;
}

.brick-game-body>.controls-container>.sm-btn.reset-btn {
    position: absolute;
    top: calc(var(--width) * 0.05);
    right: calc(var(--width) * 0.05);
}

.brick-game-body>.controls-container>.sm-btn.reset-btn::after {
    content: 'Reset';
    font-family: 'retro-gaming';
    font-size: calc(var(--width) * 0.05);
    color: white;

    position: absolute;
    height: 100%;
    width: 100%;
    left: -40%;
    top: -100%;
}


.brick-game-body canvas {
    position: relative;
    z-index: 99;

    box-shadow:
        calc(var(--width) * -0.01) calc(var(--width) * 0.01) var(--dispersion) var(--color-shadow),
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow-reflexion);
}